@import "../../../Styles/Sass/blocks";

.mainMode-select {
  width: 550px;
  display: flex;
  justify-content: center;
  gap: 4em;
  padding: 1em;
  border-radius: 10px;
 
}

.createroom-container {
  @extend %overlay-block;
}
