//import variables to colors blocks
@import "./Variables.scss";

%flex-column-block {
  width: 100%;
  outline: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

%overlay-block {
  @extend %flex-column-block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
}

%action-block{
  cursor: pointer;
  height: 260px;
  width: 400px;
  @extend %flex-column-block;
}

%form-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 260px;
  padding: 1em;
}

%input-block{
  width: 100%;
  padding: 0.5em;
  outline: solid 1px red;
  border-radius: 20px;
}

%icon-header{
  width: 20px;
  height: 20px;
  cursor: pointer;
}