//import variables to colors blocks
@import "./Variables.scss";

%flex-column-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

%overlay-block {
  @extend %flex-column-block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

%action-block {
  cursor: pointer;
  height: 190px;
  border-radius: 10px;
  width: 100%;
  @extend %flex-column-block;
  box-shadow: 0px 3px 6px 2px rgba(255,255,255,.3);
  background: rgba(255,255,255,0.65);
  backdrop-filter: blur(5px);
  transition: all .9s ease;
}

%action-block:hover{
    transform: scale(1.1);
}

%form-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 1em;
  z-index: 2;
  box-shadow: 0px 3px 6px 2px rgba(255,255,255,.3);
  
}

%input-block {
  width: 100%;
  padding: 0.5em;
  border-radius: 10px;
  border: 2px solid $tertialy-color;
  font-family: $primary-font;

}

%input-block:focus{
  outline: none;
}

%icon-header {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: $secondary-color;
}

%icon-action {
  width: 75px;
  height: 75px;
  color: $secondary-color;
}

%title-block {
  font-family: $primary-font;
  font-weight: 600;
  color: $secondary-color;
  font-size: 30px;
}

%button-block{
  width: 200px;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  font-family: $primary-font; 
  background: $secondary-color;
  color: $tertialy-color;
  border: none;
  font-weight: bolder;
  cursor: pointer;
}

%field-error{
  font-family: poppins;
  color: $secondary-color;
  font-size: 11px;
}
