//import blocks and variables
@import "../../../Styles/Sass/blocks";
@import '../../../Styles/Sass/Variables';



.createroom-content {
  @extend %action-block;

  h2{
    @extend %title-block;
  }

  .action-icon{
    @extend %icon-action;
  }
}

.createroom-container {
  @extend %overlay-block;

  .action-form{
    background: $primary-color;
    border-radius: 10px;

    .header-modal{
      display: flex;
      justify-content: flex-end;
      padding: .25em;

      .icon-header{
        @extend %icon-header;
      }
    }

    .form-content{
      @extend %form-block;
      gap: 1em;
      padding: 1em;

      .title{
        @extend %title-block;
      }
    }

    .form-button{
      @extend %button-block;
    }

    input[type="text"]{
      @extend %input-block;
    }
  }
}
