//import blocks and variables
@import "../../../Styles/Sass/blocks";
@import '../../../Styles/Sass/Variables';

.joinroom-content {
  @extend %action-block;
}

.joinroom-container {
  @extend %overlay-block;

  .action-form{
    background: $primary-color;

    .header-modal{
      display: flex;
      justify-content: flex-end;
      padding: .25em;

      .icon-header{
        @extend %icon-header;
      }
    }

    .form-content{
      @extend %form-block;
      gap: 1em;
      padding: 1em;
    }

    input[type="text"]{
      @extend %input-block;
    }
  }
}
